.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 15px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
 /* font-size: 13px;*/
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 8px;
  border-top: 1px solid gray !important;
  border-left: 4px solid green;
 /* font-size: 13px;*/
  
}

.wd-modules > li {
  margin-bottom: 20px;
}

.btn-primary.wd-course-button {
    background-color: #F2F2F2;
    border: 1px solid black;
    color: black;
    padding: 3px 6px;
    width: 140px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
  }

  .form-conttrol.wd-assignment-search {
    background-color: #F2F2F2;
    border: 1px solid black;
  }


  .wd-breadcrumb li.wd-active a {
    color: black;
  }
  .wd-breadcrumb a {
    color: red;
    text-decoration: none;
  }